#home{
    
    height: 100vh;
    display: flex;
    justify-content: center;
}


.home-cont{
   
    width: 80vw;
}

.home-box-2 > img{
    height: 500px;
}

.home-box-1{
    
    width: 50%;
    height: 50%;
    
}


.home-box-2{
    
    width: 50%;
    height: 50%;
    
}

.home-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-box-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-box-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text-1{
    
    height: fit-content;
    display: block;
}

.home-text-1{
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 80%;
}

.home-text-1 > h2{
    color: #0ac98c;
}

.home-text-1 > p{
    color: #9d9d9d;
    margin-top: 10px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.home-text-1 > a{
   
    color: #0ac98c;
    padding: 10px;
    border: 1px solid#9d9d9d;
    text-decoration: none;
    border-radius: 5px;
}




@media screen and (max-width: 80rem) {
    .home-cont{
        flex-wrap: wrap;
    }

    .home-box-1{
        width: 100%;
    }

    .home-box-2{
        width: 100%;
    }

    .home-box-2 > img{
        width: 100vw;
        height: 100vw;
    }
}